.dart_tool/
.packages
build/
pubspec.lock
example/.dart_tool/
example/build/
example/android/local.properties
example/ios/Flutter/Generated.xcconfig
example/ios/Flutter/flutter_export_environment.sh
example/.flutter-plugins-dependencies
**/.metadata
